@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --dark-gray: #18171f;
  --not-so-dark-gray: #24232c;
  --light-neon-green: #a4ffaf;
  --light-red: #f65a5a;
  --light-orange: #fb7c58;
  --light-yellow: #f8cd65;
  --gray: #817d92;
  --white: #e6e5ea;
}
header img:hover {
  filter: contrast(100);
}
header img:active {
  filter: contrast(0);
}
html {
  min-width: 320px;

}

body {
  font-family: "JetBrains Mono";
  color: white;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  min-height:90vh;
  justify-content: center;
  align-items: center;
}
header {
  width: 90%;
  max-width: 600px;
}
.top-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-text p:nth-child(2) {
  color: var(--light-neon-green);
  font-size: 1.5em;
  margin: 15px 0px;
}
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.slider input {
  width: 100%;
}
header p {
  color: var(--gray);
  font-size: 20px;
  text-align: center;
}
header input {
  width: 80%;
  margin: 15px 0px;
  color: var(--white);
  font-size: clamp(0.8rem, 4vw, 1.5rem);
  text-align: center;
  background-color: var(--not-so-dark-gray);
  border: none;
}
header input[type="text"] {
  text-align: left;
}
header input:focus {
  border: none;
  outline: none;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--not-so-dark-gray);
  margin-bottom: 20px;
  padding: 0 5%;
}
.result p {
  color: var(--white);
  font-size: clamp(0.9rem, 2vw, 1.5rem);
}

main {
  width: 90%;
  background-color: var(--not-so-dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  

}
.checkbox p {
  margin-left: 5px;
  text-wrap: nowrap;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
input[type="checkbox"] {
  content: "";
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 0px;
  width: 20px;
  padding: 3px;
  height: 20px;
}

input[type="checkbox"]:checked {
  content: url(./assets/images/icon-check.svg);
  background-color: var(--light-neon-green);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

input[type="checkbox"]::before {
  width: 15px;
  height: 15px;
  transform: scale(0);
  background-color: var(--dark-gray);
  border-radius: 0px;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.strength {
  color: var(--gray);
  background-color: var(--dark-gray);
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.strength p {
  margin-left: clamp(5px, 2vw, 20px);
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.strength-status {
  margin-right: 20px;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}
.strength-status p {
  margin-left: 0;
}

.bar {
  border: 1px solid white;
  width: 5px;
  height: 20px;
  margin-left: 7px;
}
.options {
  width: 90%;
  font-size: clamp(0.8rem, 2vw, 1rem);
  align-self: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.btn {
  font-family: inherit;
  border: none;
  background-color: var(--light-neon-green);
  width: 90%;
  height: 50px;
  margin: 20px 0px;
  background-repeat: no-repeat;
  background-position: right;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.back-green {
  background-color: var(--light-neon-green);
}
.back-yellow {
  background-color: var(--light-yellow);
}
.back-orange {
  background-color: var(--light-orange);
}
.back-red {
  background-color: var(--light-red);
}
input[type="range"] {
  width: 100%;
  height: 10px;
  appearance: none;
  background: linear-gradient(
    to right,
    var(--light-neon-green) 50%,
    var(--dark-gray) 50%
  );
  border-radius: 25px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--dark-gray);
  border: 2px solid var(--light-neon-green);
  appearance: none;
}

